<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, ' + SONIGARA + '!'" />


	<div class="container">
		<h2>RealEstate project</h2>
		<span><strong><a href="http://qaerp.genieiot.in">Login</a>
				Please login for better experiences .</strong></span>
	</div>

	<div class="container">
		<h3>Added Features</h3>
		<ul>
			<span><strong><i>V2.1.1</i></strong></span>
		 	<li>1. Pre-Sales Management</li>
			<li>2. Sales Management</li>
			<li>3. HR and Payroll </li>
			<li>4. Engineering Department</li>
			<li>5. Purchase Management</li>
			<li>6. Account Management</li>
			<li>7. Maha-Rera</li>
			<li>8. User Management</li>
			<li>9. Licensing Department</li>
			<li>10. Legal Department</li> 

		</ul>
	</div>
	 
</body>
</html>